.TodoList {

}

.TodoList__item {
    display: flex;
    align-items: center;
    padding: 20px;
    border: 1px solid black;
}

.TodoList__text {
    margin-top: 0px;
    margin-bottom: 0;
    margin-right: 15px;
}
